sgd_x_detector/a2/*
*/.vscode
*.flake8
*.ipynb_checkpoints/
*.xlsx
*.DS_Store*
ece324_machine_intelligence/ece324_assignment_4_1/*
*.vscode*
ece324_machine_intelligence/sgd_x_detector*
ece324_machine_intelligence/student_projects*
random_processes/a1*
random_processes/a2*

ece324_machine_intelligence/assignment_4_2/submissions/*
ece324_machine_intelligence/assignment_4_2/student_submissions/*
ece324_machine_intelligence/assignment_4_2/student_models/*